@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #DEE3EE;
}

:root {
    --light: #fff;
    --dark: #333;
    --gray: #ACACAC;
    --black: #000000;
    --fw-light: 400;
    --fw-middle: 500;
    --fw-bold: 600;
    --font-name: 'Inter';
}

body {
    font-family: var(--font-name);
    color: #22283A
}

a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
}

.nav-in {
    display: flex;
    padding: 8px 108px;
    align-items: center;
    list-style-type: none;
    font-size: 16px;
    position: sticky; 
    top: 0; 
    z-index: 1;
}

.logo {
    font-weight: bold;
}

.nav-list {
    display: flex;
    list-style: none;
    padding-left: 16%; 
}

.nav-link:not(.logo):hover {
    text-decoration: underline;
}

.nav-list li:not(:first-child) {
    margin-left: 35%;
}

.flex-end {
    margin-left: auto;
}

.uppercase {
    text-transform: uppercase;
}

.button {
    display: inline-block;
    padding: 8px 30px;
    background-color: white;
    border-radius: 20px;
    font-size: 16px;
}

.button:hover {
    background-color: lightgray;
}

.underline {
    text-decoration: underline;
}

.header {
    margin: 80px 0 0 145px;
    text-align: left;
}

.container {
    width: 90%;
    max-width: 1200px;
    padding: 0 12px;
    margin-left: auto;
    margin-right: auto;
}

.header-title {
    font-size: 48px;
    line-height: 58.09px;
    font-weight: var(--fw-middle);
}

.header-text {
    font-size: 16px;
    margin-top: 45px;
    line-height: 24px;
}

.link {
    margin-top: 80px;
    font-weight: bold;
    text-decoration: underline;
    color: var(--black);
    font-weight: 700;
    line-height: 24px;
}

.image-section {
    margin-top: 38px;
}

.main-image {
    width: 90vw;
    display: block;
    height: 475px;
    object-fit: cover;
}

.sections-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 103px;
    flex-basis: 100%;
}
.content-section {
     margin-top: 101px;
}

.section-title {
    font-size: 48px;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.black{
    color: var(--black);
}

.description {
    margin-top: 45px;
}
.card-text {
    font-size: 18px;
    line-height: 1.6;
    max-width: 260px;
    background-color: #ffffff;
}

.cards-section {
    margin-top: 102px;
}

.card {
    padding: 40px 35px;
    background-color: #fff;
    margin-bottom: 20px;
    text-align: left;
}

.row {
    flex-direction: row;
}

.gap {
    gap: 14px;
}

.card-title {
    margin-bottom: 10px;
    background-color: #ffffff;
}