* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
    font-family: 'Inter', sans-serif;
    color: #000000;
    font-weight: 400;
    line-height: 1.5;
}

body {
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    background-color: white;
}

section {
    padding: 0 103px;
}

section + section {
    margin-top: 82px;
}

.hero-section {
    position: relative;
    height: 1024px;
    width: 100%;
    color: white;
    overflow: hidden;
    padding: 0;
}

.hero-section img {
    filter: brightness(50%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.hero-section h1 {
    left: 103px;
    top: 130px;
    position: relative;
    z-index: 1;
    font-size: 128px;
}

.description-section {
    max-width: 1000px;
    font-weight: 500;
    font-size: 48px;
    margin-top: 82px;
}

.content-section, .content-section-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-block {
    width: 400px;
}

.content-section-right .text-block {
    text-align: right;
}

.image-block img {
    display: block;
    width: 714px;
    height: 360px;
}

.number {
    font-weight: 700;
    font-size: 96px;
    margin-bottom: -30px;
}

.text-block p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #706F74;
}

.middle-section h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: right;
    margin-right: 0;
    margin-left: auto;
    width: auto;
    max-width: 1170px;
}

.bottom-section {
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    width: 1300px;
    margin: 82px auto 0;
}

.image-section {
    display: flex;
    justify-content: center;
}

.image-section img {
    width: 1026px;
    height: 320px;
    overflow: hidden;
    object-fit: cover;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #222;
    color: white;
    font-size: 14px;
    margin-top: 82px;
}

.footer p {
    margin-left: 102px;
    margin-right: 102px;
}

.footer p:last-child {
    font-weight: 700;
}
